.cut-off-rule{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

body {
    padding-top: 40px;
    padding-bottom: 80px;
}

.reply{
    display: block;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #CCCCCC;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-border-radius:5px;
}

.cut-off-rule{
    display: block;
    padding: 10px;
    border-top: 1px solid #CCCCCC;
}

#textarea1
{
    border: 1px solid #CCCCCC;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-border-radius:5px;
}